@import "tailwindcss";

:root {
  --background: #fcfcfe;

  --text-primary: #1B1B1B;
  --text-secondary: #6B7280;

  --primary: #5B5FE9;
  --primary-hover: #4C4FD1;
  --border-light: rgba(27, 27, 27, 0.08);
}

@theme inline {
  --color-background: var(--background);

  --color-text: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  /* NEW */
  --color-border-light: var(--border-light);
}

body {
  background: var(--background);
  color: var(--text-primary);
}