NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cG9ldGljLWJvYmNhdC01MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_rzEZ1NMDujBo5iTlIicbTTw6JTLKyT4blygCdR74i1

NEXT_PUBLIC_CLERK_IS_SATELLITE=true
NEXT_PUBLIC_CLERK_DOMAIN=localhost:3000

NEXT_PUBLIC_CLERK_SIGN_IN_URL=http://localhost:3001/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=http://localhost:3001/sign-up

NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001